
#Foot{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	line-height: 40px;
	border-radius: 10px;
	border-style: double;
    border-color: rgb(155, 155, 155);
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 40px;
}
#div1 {
	text-align: center;
	width: 80%;
}
#div1 ul{
	list-style: none;
}